body {
  margin: 0;
  font-family: "PT Sans", Arial, serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #000;
  text-transform: uppercase;
  background: #aaa;
}

h1,
h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 600;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  position: relative;
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  background: #fff;
}


/*Header */


.page-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navigation {
  min-height: 56px;
  list-style: none;
  margin: 0 6%;
  padding: 0;
}
.nav-information,
.nav-media {
  float: left;
  width: 20%;
  text-align: left;
}

.nav-map,
.nav-hotels {
  float: right;
  width: 20%;
  text-align: right;
}


/*Index welcome picture*/


.welcome-block {
  height: 511px;
  width: 100%;
  min-width: 768px;
  max-width: 1200px;
  background: url("../img/welcome-logo.png") no-repeat 50% 50% / auto,
  url("../img/welcome-block-mask.svg") no-repeat 50% 100% / 100% auto,
  url("../img/bg-main.jpg") no-repeat 0 0 / 100%;
}


/*Index title block*/


.title-block {
  text-align: center;
  padding: 60px 0;
}

.title {
  margin: 0 auto 32px auto;
  width: 450px;
}


/*Index features*/


.feature-wide {
  width: 100%;
}

.feature-description {
  float: left;
  width: 33%;
  min-height: 256px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 6%;
}

.feature-wide .feature-description {
  background: #81b3d2;
  color: #fff;
}

.features-rest .feature-description {
  background: #eee;
  color: #000;
}

.feature-picture {
  float: left;
  width: 66%;
  min-height: 256px;
}

.feature1 {
  background: url("../img/feature-picture1.jpg") no-repeat 50% 50% / 100%;
}

.feature2 {
  background: url("../img/feature-picture2.jpg") no-repeat 50% 50% / 100%;
}


/*Index advice block*/


.advice-block {
  min-height: 330px;
}

.advice-item {
  float: left;
  width: 33%;
  text-align: center;
}


/*Index hotel block*/


.hotel-block {
  text-align: center;
  width: 568px;
  margin: 0 auto;
}

.button-toggle {
  width: 100%;
  padding: 30px 30px;
  font-size: 21px;
  font-weight: 600;
  color: #fff;
  background: #766357;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 50px;
  border: none;
}

.popup {
  position: relative;
}

.hotel-form {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 568px;
}

.hotel-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}


/*Index map block*/


.map-block {
  height: 591px;
  background: url("../img/map.jpg") no-repeat 50% 100%;
}


/*Footer*/


.footer-absolute {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #f9fbf6;
  opacity: 0.9;
}

.footer-column {
  float: left;
  width: 33%;
  text-align: center;
  min-height: 120px;
}


/*Hotels filter*/


.filter {

  background: url("../img/bg-main-blurred.jpg") no-repeat 0 0 / 100%;
  color: #fff;
}

.filter form {
  padding: 30px 6%;
}

.options {
  border: none;
  width: 30%;
  margin: 0;
  padding: 0;
  float: left;
  min-height: 220px;
}


/*Hotels search header*/


.search {

}

.search-header {
  min-height: 87px;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 6%;
}

.search-header h2 {
  float: left;
  width: 20%;
}

.sorting-type {
  float: left;
}

.sorting-direction {
  float: right;
}


/*Hotels hotel card*/


.hotel {
  padding: 30px 6%;
  border-bottom: 1px solid #e5e5e5;
}

.column-left {
  width: 20%;
  float: left;
}

.column-middle {
  float: left;
}

.column-right {
  float: right;
}

.hotel-title {
  margin: 0;
}

.hotel-description,
.hotel-booking {
  display: inline-block;
}
