body {
  margin: 0;

  text-transform: uppercase;

  color: #000;
  background: #f1f1f1;

  font-family: 'PT Sans', "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

h2 {
  font-size: 21px;
  line-height: 21px;
}

.clearfix::after {
  display: table;
  clear: both;

  content: '';
}

.container {
  position: relative;

  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;

  background: #fff;
  box-shadow: 0 -5px 15px 0 rgba(0,0,0,.2);
}


/*Header */


.page-logo {
  position: absolute;
  left: 50%;

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.page-logo a {
  display: block;

  width: 138px;
  height: 70px;

  background: url("../img/bg-sprite.png") -5px -5px no-repeat;

  font-size: 0;
}

.navigation {
  margin: 0 6%;
  padding: 0;

  list-style: none;
}

.navigation li {
  float: left;

  width: 22.727272%;
  margin-top: 14px;
  margin-bottom: 16px;
  padding: 0;

  text-align: left;

  line-height: 26px;
}

.navigation li:nth-child(4n-1),
.navigation li:nth-child(4n) {
  text-align: right;
}

.navigation li:nth-child(4n-2) {
  margin-right: 9.090909%;
}

.navigation a {
  text-decoration: none;

  color: inherit;

  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.navigation a:hover {
  color: #81b3d2;
}

.navigation a:active {
  opacity: 0.3;
  color: #000;
}

.navigation .active {
  color: #7f6d62;
}

.navigation .active:hover {
  color: #7f6d62;
}

.navigation .active:active {
  opacity: 0.3;
}

/*Fixing the font size differences*/

.navigation li:nth-child(2) {
  letter-spacing: 0.01em;
}

.navigation li:nth-child(3) {
  letter-spacing: 0.04em;
}


/*Index welcome picture*/


.welcome-block {
  width: 100%;
  min-width: 768px;
  max-width: 1200px;
  height: 508px;

  background: url("../img/bg-welcome-logo.png") no-repeat 50% 49% / auto,
  url("../img/welcome-block-mask.svg") no-repeat 50% 100% / 100% 57px,
  #293d44 url("../img/bg-main.jpg") no-repeat 50% 28% / 100%;
}


/*Index title block*/


.title-block {
  margin-top: 60px;
  margin-bottom: 50px;

  text-align: center;
}

.main-title {
  width: 600px;
  margin: 0 auto 28px;

  font-size: 21px;
  line-height: 26px;
}

.title-block p {
  margin: 0 6%;

  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
}

/*Index features*/


.feature-wide {
  width: 100%;

  color: #fff;
  background: #81b3d2;
}

.feature-description {
  float: left;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.333333%;
  min-height: 256px;

  text-align: center;
}

.features-rest {
  color: #000;
  background: #eee;
}

.feature-title {
  display: block;

  max-width: 160px;
  margin: 55px auto 24px;
}

.features-rest .feature-title {
  margin-top: 48px;
}

.feature-text {
  margin: 22px 12% 22px;
}

.feature-picture {
  position: relative;

  float: left;
  overflow: hidden;

  width: 66.666666%;
  height: 256px;
}

.feature-picture img {
  position: absolute;
  top: 50%;

  max-width: 100%;
  height: auto;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 900px) {
  .feature-title {
    margin-top: 48px;
  }
}


/*Index advice block*/


.advice-block {
  min-height: 330px;
}

.advice-item {
  position: relative;

  float: left;

  width: 33.333333%;

  text-align: center;
}

.advice-item::before {
  position: absolute;
  top: 60px;
  left: 50%;

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  background: url("../img/bg-sprite.png") no-repeat;
}

.advice-food::before {
  top: 61px;

  width: 74px;
  height: 70px;

  content: "";

  background-position: -90px -91px;
}

.advice-gifts::before {
  top: 56px;

  width: 64px;
  height: 76px;

  content: "";

  background-position: -153px -5px;
}

.advice-hotel::before {
  width: 75px;
  height: 72px;

  content: "";

  background-position: -5px -91px;
}

.advice-title {
  margin: 162px 20px 24px;
}

.advice-item p {
  margin-right: 12%;
  margin-left: 12%;
}


/*Index hotel block*/


.hotel-block {
  width: 568px;
  margin: 0 auto;

  text-align: center;
}

.hotel-block h2 {
  margin: 58px 32px 32px;

  font-size: 30px;
}

.hotel-block p {
  padding: 0 60px;

  line-height: 24px;
}

.button-toggle {
  width: 100%;
  margin-top: 34px;
  padding: 30px 30px;

  font-size: 21px;
  line-height: 26px;
}

.button-brown {
  display: inline-block;

  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border: none;
  background: #766357;

  font-family: inherit;
  font-weight: 700;
}

.button-brown:hover {
  background: #604e43;
}

.button-brown:active {
  color: rgba(255,255,255,0.3);
  background: #503e33;
}

.popup {
  position: absolute;

  display: block;

  width: 568px;

  background: #fff;
  box-shadow: 0 7px 15px 0 rgba(0,0,0,.15);
}

.popup-hidden {
  display: none;
}

.hotel-form {
  margin: 55px;

  font-weight: 700;
}

.hotel-form fieldset {
  margin-right: 0;
  margin-left: 0;
  padding: 0;

  text-align: left;

  border: none;
}

.hotel-form input {
  display: inline-block;

  box-sizing: border-box;
  padding: 8px 13px;

  vertical-align: top;
  text-transform: uppercase;

  border: 2px solid #f2f2f2;
  outline: none;
  background-color: #f2f2f2;

  font: inherit;
  font-size: 14px;
  line-height: 18px;
}

.hotel-form input:hover {
  border-color: #ebebeb;
  background-color: #ebebeb;
}

.hotel-form input:focus {
  border-color: #f2f2f2;
  background-color: #fff;
}

.dates {
  position: relative;

  width: 100%;
  margin-bottom: 30px;

  font-size: 0;
}



.dates label {
  display: inline-block;

  width: 112px;

  vertical-align: top;
  letter-spacing: 0.02em;

  font-size: 14px;
  line-height: 38px;
}

.dates input {
  width: 346px;
}

.dates:nth-child(2) input {
  padding-left: 11px;
}

.button-calendar {
  position: absolute;
  top: 7px;
  right: 8px;

  width: 22px;
  height: 22px;
  padding: 0;

  cursor: pointer;

  border: none;
  outline: 0;
  background: transparent url("../img/bg-sprite.png") -174px -91px no-repeat;
}

.button-calendar:hover {
  background-position: -205px -91px;
}

.button-calendar:active {
  background-position: -174px -123px;
}

.counters {
  font-size: 0;
}

.counter-block {
  position: relative;

  display: inline-block;

  vertical-align: top;
}

.counter-adults {
  display: inline-block;

  width: 112px;

  vertical-align: top;

  font-size: 14px;
  line-height: 38px;
}

.counter-children {
  display: inline-block;

  box-sizing: border-box;
  width: 118px;
  padding-left: 54px;

  vertical-align: top;

  font-size: 14px;
  line-height: 38px;
}

.counter-block input {
  width: 38px;
  padding: 8px 0;

  text-align: center;
}

.counter-block button {
  display: inline-block;

  width: 38px;
  padding: 0;

  cursor: pointer;
  text-align: center;
  vertical-align: top;

  color: #a9a9a9;
  border: none;
  background-color: #f2f2f2;

  font-size: 22px;
  font-weight: 700;
  line-height: 38px;
}

.counter-block button:hover {
  color: #000;
}

.counter-block button:active {
  color: #81b3d2;
}

.button-submit {
  width: 100%;
  margin-top: 54px;
  padding: 16px;

  font-size: 21px;
  line-height: 26px;
}

.button-blue {
  display: inline-block;

  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border: none;
  background: #81b3d2;

  font-family: inherit;
  font-weight: 700;
}

.button-blue:hover {
  background: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background: #5496bd;
}


/*Index map block*/


.map-block {
  height: 593px;

  background: #ccdeab url("../img/map.jpg") no-repeat 50% 100%;
}

.map-block iframe {
  width: 100%;
  height: 593px;

  border: none;
}


/*Footer*/


.footer {
  width: 100%;
  padding: 36px 0;

  font-size: 0;
}


.footer-map {
  position: absolute;
  bottom: 0;

  opacity: 0.9;
  background: #f9fbf6;
}

.footer-column {
  display: inline-block;

  width: 33.333333%;

  text-align: center;
  vertical-align: middle;
}

.footer-column:first-child {
  font-size: 6px;
}

.footer-visit {
  text-decoration: none;

  color: #000;

  font-size: 21px;
  font-weight: 600;
  line-height: 26px;
}

.footer-visit:hover {
  color: #81b3d2;
}

.footer-visit:active {
  opacity: 0.3;
  color: #000;
}

.button-social {
  position: relative;

  display: inline-block;

  width: 46px;
  height: 48px;
  margin-right: 6px;

  vertical-align: top;

  background: #81b3d2
}

.button-social:last-child {
  margin-right: 3px;
}

.button-social:hover {
  background-color: #669ec0;
}

.button-social:active {
  background-color: #5496bd;
}

.button-social::before {
  position: absolute;
  top: 50%;
  left: 50%;

  content: "";
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background: url("../img/bg-sprite.png") no-repeat;
}

.twitter::before {
  width: 17px;
  height: 15px;

  background-position: -205px -123px;
}

.facebook::before {
  width: 10px;
  height: 19px;

  background-position: -205px -148px;
}

.youtube::before {
  width: 20px;
  height: 16px;

  background-position: -5px -177px;
}

.button-social:active::before {
  opacity: 0.3;
}

.footer-logo span {
  display: inline-block;

  vertical-align: middle;

  font-size: 14px;
  line-height: 26px;
}

.footer-logo a {
  display: inline-block;

  width: 113px;
  height: 39px;
  margin-left: 8px;

  vertical-align: middle;

  background: transparent url("../img/bg-sprite.png") -35px -177px no-repeat;

  font-size: 0;
}

.footer-logo a:hover {
  background-position: -227px -5px;
}

.footer-logo a:active {
  opacity: 0.3;
  background-position: -35px -177px;
}


/*Hotels filter*/


.filter {
  padding: 29px 6% 31px 6%;

  color: #fff;
  background: #627a8e url("../img/bg-main-blurred.jpg") no-repeat 0 50%;
  background-size: cover;
}

.filter fieldset {
  margin-left: 0;
  padding: 0;

  border: none;
}

.options {
  float: left;

  width: 210px;
  margin-right: 4.2%;
}

.options:nth-child(2) {
  margin-right: 0;
}

.filter legend {
  margin-bottom: 28px;
  padding: 0;

  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.option {
  margin-bottom: 24px;
}

.option:last-child {
  margin-bottom: 0;
}

.option input {
  display: none;
}

.option label {
  display: inline-block;

  vertical-align: top;
}

.option label::before {
  display: inline-block;

  width: 27px;
  height: 22px;
  margin-right: 14px;

  content: "";
  vertical-align: top;

  background: transparent url("../img/bg-sprite.png") -227px -54px no-repeat;
}

.options:nth-child(2) label::before {
  margin-right: 17px;
}

.option input:checked + label::before {
  width: 27px;

  background-position: -236px -86px;
}

.option input:disabled + label::before {
  background-position: -295px -54px;
}

.option input:disabled:checked + label::before {
  background-position: -259px -54px;
}


/*Price block*/


.price-block {
  float: right;

  width: 30%;
}

.price-block legend {
  margin-bottom: 14px;
  /*margin-left: -9px;*/
}

.price-changer {
  position: relative;

  display: block;

  border: 2px solid #fff;
  border-radius: 2px;

  font-size: 0;
}

.price-changer > div {
  display: inline-block;

  text-align: center;
  vertical-align: top;
}

.price-changer::after {
  position: absolute;
  top: 5px;
  left: 50%;

  width: 2px;
  height: 22px;
  margin-left: 1px;

  content: '';

  background: #fff;
}

.price-changer label {
  display: inline-block;

  width: 40%;
  padding: 5px 5%;

  cursor: pointer;
  text-align: right;
  vertical-align: top;

  font-size: 14px;
  line-height: 22px;
}

.price-changer input {
  max-width: 50%;
  margin: 0;
  padding: 0;

  color: #fff;
  border: none;
  outline: none;
  background-color: transparent;

  font-family: inherit;
  font-size: 14px;
  line-height: 22px;
}

.price-from input {
  max-width: 44%;
}

.range-bar {
  position: relative;
  left: 1px;

  width: 100%;
  height: 2px;
  margin: 20px 0;

  background: rgba(255,255,255,.3);
}

.inner-bar {
  position: absolute;
  top: 0;
  right: 45px;
  bottom: 0;
  left: 0;

  height: 2px;

  background: #fff;
}

.slider-button {
  position: absolute;
  top: -9px;

  padding: 2px;

  cursor: pointer;

  border: 8px solid #fff;
  border-radius: 50%;
  outline: none;
  background-color: #ababab;
  box-shadow: 0 2px 0 0 rgba(0,0,0,.14);
}

.slider-button:hover,
.slider-button:active {
  background-color: #1c4f80;
}

.slider-min {
  left: 0;
}

.slider-max {
  right: 0;
}

.button-filter {
  display: block;

  margin: 32px auto 0 auto;
  padding: 9px 33px;

  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;

  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
}

.button-filter:hover {
  color: #000;
  background-color: #fff;
}


/*Hotels search header*/


.search-header {
  padding: 30px 6%;

  border-bottom: 1px solid #e5e5e5;
}

.search-header h2 {
  display: inline-block;

  width: 152px;
  margin:0;

  vertical-align: baseline;

  font-size: 21px;
  line-height: 26px;
}

.sorting-type {
  display: inline-block;

  width: 380px;
  padding-left: 8px;

  vertical-align: 1px;

  font-size: 12px;
  line-height: 21px;
}

.sorting-type span {
  margin-right: 36px;
}

.sorting-type a {
  margin-right: 30px;

  text-decoration: none;

  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type a:last-child {
  margin-right: 0;
}

.sorting-type .active {
  opacity: 1;
  color: #81b3d2;
  border: none;
}

.sorting-type a:hover {
  color: #81b3d2;
}

.sorting-type a:active {
  color: #000;
  border: none;
}

.sorting-type .active:active {
  color: #81b3d2;
}

.sorting-direction {
  float: right;

  width: 100px;

  text-align: right;
}

.sorting-direction a {
  display: inline-block;

  margin-top: 4px;
  margin-left: 9px;

  vertical-align: middle;

  font-size: 0;
}

.sorting-direction a::before {
  display: inline-block;

  content: "";
  vertical-align: middle;

  border-width: 0 6px 10px 6px;
  border-style: solid;
  border-color: #ccc transparent;
}

.sorting-direction .arrow-down::before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sorting-direction .active::before,
.sorting-direction .active:hover::before {
  border-bottom-color: #81b3d2;
}

.sorting-direction a:hover::before {
  border-bottom-color: #000;
}

.sorting-direction a:active::before {
  border-bottom-color: #81b3d2;
}


/*Hotels hotel card*/


.hotel {
  padding: 30px 6%;

  border-bottom: 1px solid #e5e5e5;
}

.hotel p {
  margin-top: 0;
  margin-bottom: 19px;

  font-size: 14px;
  line-height: 14px;
}

.column-left {
  display: block;
  float: left;

  width: 135px;
  height: 90px;

  font-size: 0;
}

.column-middle {
  margin-right: 135px;
  margin-left: 164px;

  font-size: 0;
}

.column-right {
  float: right;

  width: 110px;

  text-align: right;
}

.rating-stars {
  margin-bottom: 43px;

  font-size: 0;
}

.rating-star {
  display: inline-block;

  width: 18px;
  height: 17px;
  margin-left: 6px;

  vertical-align: top;

  background: url("../img/bg-sprite.png") -327px -54px no-repeat;
}

.rating {
  padding: 3px 0;

  text-align: center;

  background-color: #f2f2f2;
}

.hotel-title {
  margin-top: -2px;
  margin-bottom: 13px;

  letter-spacing: 0.01em;

  line-height: 21px;
}

.hotel-title a {
  text-decoration: none;

  color: #000;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.hotel-description,
.hotel-booking {
  display: inline-block;

  margin-right: 6px;

  vertical-align: top;

  font-size: 14px;
}

.button-hotel {
  padding: 3px 17px;

  font-size: 14px;
}
